@import '../../styles/variables.scss';

.chat-list {
	overflow-y: auto;
	min-width: 300px;
	height: calc(100vh - 100px);
	background: rgb(241, 241, 241);

	&::-webkit-scrollbar{
		width: 5px;
	}
	&::-webkit-scrollbar-thumb{
		background-color: rgb(194, 194, 194);
		border-radius: 5px;

	}
	&::-webkit-scrollbar-track{
		background-color: white;
	}
	
	&__container {
		padding: 2rem 1.2rem;


		.chat {
			background: #fff;
			margin-bottom: 10px;
			padding: 10px 15px;
			border-radius: 3px;
			display: flex;
			&:hover{
				cursor: pointer;
			}

			.image-container {
				position: relative;
				height: 40px;
				width: 40px;

				img{
					height: 40px;
					width: 40px;
					border-radius: 50%;
					padding: 4px;
					background: rgb(148, 250, 148);
				}
				.online {
					position: absolute;
					top: 30px;
					right: 0;
					display: inline-block;
					height: 8px;
					width: 8px;
					border-radius: 50%;
					background: rgb(33, 212, 33);
				}
				.offline {
					position: absolute;
					top: 30px;
					right: 0;
					display: inline-block;
					height: 8px;
					width: 8px;
					border-radius: 50%;
					background: rgb(219, 179, 46);
				}
			}

			.info{
				margin-left: 10px;
				.title {
					font-family: 'Nunito', sans-serif;
				}
				.text {
					font-size: .8rem;
					color: grey;
				}
			}
		}
	}

}