@import '../../styles/variables.scss';

.message-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
        height: 50px;
        padding: 0px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .right {
            .more-icon {
                height: 25px;
                width: 25px;
                svg {
                    height: 24px;
                    width: 24px;
                    fill: grey;
                    cursor: pointer;
                    transform: rotate(90deg);
                }
            }
        }
        .left{
            .selected-user-container {
                display: flex;
                align-items: center;
                img{
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    padding: 5px;
                }

                .info {
                    margin-left: 20px;
                    line-height: 19px;
                    .title {
                        font-size: 1.1rem;
                    }
                    .status {
                        color: grey;
                        font-size: .8rem;
                    }

                    .dot {
                        display: inline-block;
                        height: 8px;
                        width: 8px;
                        border-radius: 50%;
                        margin-right: 5px;
                        &.online {
                            background: rgb(33, 212, 33);
                        }
                        &.offline {
                            background: rgb(219, 179, 46);
                        }	
                    }
                }
            }
        }
    }

    .content {
        overflow-y: auto;
        max-height: calc(100vh - 200px);
        flex: 1;
        padding: 30px 80px;
        display: flex;
        flex-direction: column;

        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: rgb(194, 194, 194);
            border-radius: 5px;
    
        }
        &::-webkit-scrollbar-track{
            background-color: white;
        }
        .messages {
            &-container {
                display: flex;
                flex-direction: column;

                .message {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 5px 0px;
                    >img {
                        margin-right: 10px;
                    }							
                    >span {
                        font-size: .9rem;
                        box-shadow: 0px 0px 3px -1px rgba($color: #000000, $alpha: .10);
                        padding: 10px;
                        background: rgb(39, 149, 238);
                        color: white;
                        border-radius: 10px;
                        border-top-left-radius: 0px;	
                    }

                    &.current-user-message{
                        justify-content: flex-end;
                        >span{
                            color: black;
                            background: white;
                            border-radius: 10px;
                            border-bottom-right-radius: 0px;
                        }
                    }
                }
            }
            
        }
    }

    .footer {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .input-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 500px;

            input {
                width: 100%;
                border : none;
                outline: none;
                margin-right: 20px;
                // background: rgb(241, 241, 241);
                background: #fff;
                padding: 20px 20px;
                padding-left: 50px;
                border-radius: 10px;
                font-size: .9rem;
                font-family: 'Nunito', sans-serif;

            }

            .attachment {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: 15px;
                height: 18px;
                width: 18px;
                svg {
                    cursor: pointer;
                    height: 18px;
                    width: 18px;
                    fill: grey;
                }
            }
        }

        .send-button {
            height: 40px;
            width: 40px;
            svg {
                cursor: pointer;
                height: 40px;
                width: 40px;
                fill: $blue-color;
            }
        }
    }
}