@import '../../styles/variables.scss';

.form {
	padding: 4rem;
	min-width: 350px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px -5px rgba($color: #000000, $alpha: .15);
	
	.title-container{
		margin-bottom: 1.3rem;
		color: $primary-color;
		text-align: center;
		line-height: 1.2;
		h3{
			font-size: 1.7rem;
		}
		span {
			color: grey;
			font-size: .9rem;
		}
	}
	.form-group {
		display: flex;
		flex-direction: column;

		label{
			color: $primary-color;
			font-weight: 400;
			font-size: 1.1rem;
		}

		.form-control{
			height: 2.5rem;
			font-size: .9rem;
			padding: 10px 20px;
			font-family: 'Nunito', sans-serif;
			margin-bottom: .8rem;
			border-radius: 5px;
			outline: none;
			border: 1px solid transparent;
			background: transparentize($primary-color, .95);
			font-weight:400;
			&:focus {
				border: 1px solid transparent;
				background: transparentize($primary-color, .9);

			}
		}

	}

	.button-container {
		text-align: center;
		margin-top: .8rem;
		button {
			outline: none;
			border: none;
			font-family: 'Nunito', sans-serif;
			background: transparent;
			font-size: 1rem;
			padding: 5px 12px;
			transition: all .3s ease-in-out;
			background: linear-gradient(to right, transparentize($primary-color, .4), $primary-color);
			color: white;
			border-radius: 5px;
			&:hover {
				cursor: pointer;
			}
		}
	}

	.error-message {
		margin-top: 12px;
		margin-bottom: -12px;
		display: flex;
		justify-content: center;
		align-items: center;
		.error {
			font-size: .88rem;
			background: transparentize(red, .9);
			color: red;
			padding: 0 10px;
			border-radius: 20px;
		}

	}
}