*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  
  font-family: 'Titillium Web', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

ul{
  list-style: none;
}

h1, h2, h3, p {
  font-family: 'Titillium Web', sans-serif;
}

label {
  font-family: 'Nunito', sans-serif;
}