@import '../../styles/variables.scss';


.authentication-page {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	background: transparentize($primary-color, .9);

	.container {
		width: 75%;
		margin: 50px auto;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.tabs-container {
		font-family: 'Nunito', sans-serif;

		margin-top: 70px;
		display: flex;
		justify-content: center;
		font-weight: 700;
		.tab {
			border-bottom: 6px solid $primary-color;
			padding: 5px 10px;
			color: $primary-color;
			opacity: .5;
			cursor: pointer;

			&.selected {
				opacity: 1;
			}
			
		}
	}
	

}